<div>
  <div class="main container landing">
    <div class="helpbox" ng-class="{showHelp : showHelp}">
      <h3>Welcome to Zvi.io Charts</h3>
      <p>
        This charting site was built by the Rollin Group to provide live and historical data about
        the Zvi Network. This site is open for anyone to use, alter and embed.  The source
        code is available <a href="https://github.com/zvi-io/ripplecharts-frontend" target="_blank">here</a>.
      </p>
    </div>
    <div class="row stats" style="">
      <div class="stat-group col-md-6">
        <h5>
          <b style="display: none;">Volume Stats (24 hours)</b>
          <select class="valueCurrencySelect" ng-model="selectedCurrency"
                  ng-options="currency for currency in currencies"></select>
          <span class="valueRateDisplay" ng-bind="valueRatePair"></span>
          <span class="valueRateDisplay"
                ng-show="selectedCurrency !== 'XRP'"
                ng-bind="valueRate.live | number:4"></span>
        </h5>
        <ul class="volume-stats" style="display: none;">
          <li ng-class="{selected:selectedMetric === metrics.totalTradeVolume}"
              ng-click="showMetricDetails('totalTradeVolume')">
            <div class="status"></div>
            <label ng-bind-html="metrics.totalTradeVolume.label | trust"></label>
            <div class="stat">
              <sign ng-show="metrics.totalTradeVolume.converted"
                    ng-bind="sign"></sign>
              <span ng-show="metrics.totalTradeVolume.converted" ng-bind="metrics.totalTradeVolume.converted | number:2"></span>
              <img  ng-hide="metrics.totalTradeVolume.converted" src="assets/images/rippleThrobber.png" class="loader"/>
            </div>
          </li>
          <li ng-class="{selected:selectedMetric === metrics.tradeVolumeRCL}"
              ng-click="showMetricDetails('tradeVolumeRCL')">
            <div class="status"></div>
            <label ng-bind-html="metrics.tradeVolumeRCL.label | trust"></label>
            <div class="stat">
              <sign ng-show="metrics.tradeVolumeRCL.converted"
                    ng-bind="sign"></sign>
              <span ng-show="metrics.tradeVolumeRCL.converted" ng-bind="metrics.tradeVolumeRCL.converted | number:2"></span>
              <img  ng-hide="metrics.tradeVolumeRCL.converted" src="assets/images/rippleThrobber.png" class="loader"/>
            </div>
          </li>
          <li ng-class="{selected:selectedMetric === metrics.paymentVolumeRCL}"
              ng-click="showMetricDetails('paymentVolumeRCL')">
            <div class="status"></div>
            <label ng-bind-html="metrics.paymentVolumeRCL.label | trust"></label>
            <div class="stat">
              <sign ng-show="metrics.paymentVolumeRCL.converted"
                    ng-bind="sign"></sign>
              <span ng-show="metrics.paymentVolumeRCL.converted" ng-bind="metrics.paymentVolumeRCL.converted | number:2"></span>
              <img  ng-hide="metrics.paymentVolumeRCL.converted" src="assets/images/rippleThrobber.png" class="loader"/>
            </div>
          </li>
        </ul>
      </div>
      <div class="right">
        <div id="metricDetail" style="display: none" ></div>
      </div>
      <div class="stat-group col-md-6">
        <h5>
          ZVI Ledger Stats
        </h5>
        <ul>
          <li>
            <label>Total ZVI</label>
            <div class="stat">
              <span ng-bind="totalXRP | number:2"></span>
              <img ng-hide="totalXRP"
                   src="assets/images/rippleThrobber.png" class="loader"/>
            </div>
          </li>
          <li style="">
            <label ng-bind-html="metrics.capitalizationXRP.label | trust"></label>
            <div class="stat">
              <sign ng-show="metrics.capitalizationXRP.converted"
                    ng-bind="sign"></sign>
              <span ng-show="metrics.capitalizationXRP.converted" ng-bind="metrics.capitalizationXRP.converted | number:2"></span>
              <img  ng-hide="metrics.capitalizationXRP.converted" src="assets/images/rippleThrobber.png" class="loader"/>
            </div>
          </li>
          <li>
            <label>Ledger Number</label>
            <div class="stat">
              <span ng-show="ledgerIndex" ng-bind="ledgerIndex | number:0"></span>
              <img  ng-hide="ledgerIndex" src="assets/images/rippleThrobber.png" class="loader"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <h5 style="">Top Markets</h5>
    <div id="topMarkets" ></div>
  </div>
</div>

